body{
    font-family: "Jersey 20", sans-serif;
    background-image: url("Recursos for Dr4gron b4ll F (b4ckground)/Dragon Ball Z 4K Wallpaper.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}
.LogoH{
height: 50px;
transition: all 300ms ease;
}
.LogoH:hover{
    height: 55px;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.logo{
    height: 150px;
    position: relative;
}
.FormularioC{
    background-color: rgba(240, 248, 255, 0.425);
    border:none;
    border-radius: 30px;
    height: 10cm;
    width: 9cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -2cm;
}
h2{
    font-size: 20px;
}
.Textbox{
    border: none;
    outline: none;
    font-size: 18px;
    background-color: rgba(0, 0, 255, 0);
}
::placeholder{
    color: rgb(62, 62, 62);
    transition: all 300ms ease;
}
.BSesion{
    height: 1cm;
    width: 5cm;
    border-radius: 40px;
    font-size: 20px;
    margin-left: 0.225cm;
    background-color: #ff6600;
    border: none;
    font-family: "Jersey 20", sans-serif;
    transition: all 300ms ease;
}
.BSesion:hover{
    height: 1.2cm;
    width: 5.2cm;
    background-color: #e65e03;
    font-size: 22.5px;
}
.ICrearCuenta{
    margin-left: 5.3px;
    margin-top: 5px;
    color: rgb(0, 0, 0);
    transition: all 300ms ease;
}
.ICrearCuenta:hover{
    color: rgb(79, 79, 79);
    font-size: 17px;
}
.olConLink{
    color: rgb(0, 0, 0);
    transition: all 300ms ease;
}
.olConLink:hover{
    color: rgb(79, 79, 79);
    font-size: 17px;
}
footer{
    background-color: #2895cc; height: 5cm;
    margin-top: 7cm;
    display: flex;
    justify-content: center;
}
.Fh{
    text-decoration: none;
    color: white; 
    font-size: 30px;
    transition: all 300ms ease;
}
.Fh:hover{
    font-size: 35px;
    color: aliceblue;
     margin-top: 0.8cm;
}